@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size: 18px;
  --blue: hsl(246, 80%, 60%);
  --danger: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --business: hsl(195, 74%, 62%);
  --personal: hsl(348, 100%, 68%);
  --primary: var(--blue);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --business-glow: 0px 0px 4px rgb(86, 194, 230, 0.75);
  --personal-glow: 0px 0px 4px rgb(255, 92, 124, 0.75);
  --primary-glow: 0px 0px 4px rgb(88, 71, 235, 0.75);
  --light: var(--pale-blue);
  --dark: var(--dark-blue);
  --grey: var(--desaturated-blue);
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--very-dark-blue);
  color: whitesmoke;
  height: 100vh;
}

.back-btn {
  margin: 3em;
}

.create-btn {
  text-decoration: none;
  color: white;
  background-color: var(--blue);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  padding: 1em;
}

.create-btn:hover {
  box-shadow: var(--desaturated-blue) 0px 5px 15px;
  color: var(--blue);
  background-color: white;
}

.todo-container {
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem;
}

.todo {
  /* max-width: 800px; */
  background-color: var(--dark-blue);
  border-radius: 8px;
  padding: 2em;
}

section {
  margin-block: 2rem;
  padding-inline: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

h4 {
  color: var(--pale-blue);
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: 700;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark-blue);
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid var(--soft-blue);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--light-red);
  box-shadow: var(--personal-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--soft-blue);
  box-shadow: var(--business-glow);
  border-radius: 999px;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after {
  background-color: var(--light-red);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div {
  color: var(--dark-blue);
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary);
  box-shadow: var(--primary-glow);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
  opacity: 0.75;
}

.todo-list .list {
  margin: 1rem 0;
}

.todo-list .todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.todo-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.todo-item .todo-content {
  flex: 1 1 0%;
}

.todo-item .todo-content input {
  color: var(--dark);
  font-size: 1.125rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
}

.todo-item .actions button {
  display: block;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
  opacity: 0.75;
}

.todo-item .actions .edit {
  margin-right: 0.5rem;
  background-color: var(--lime-green);
}

.todo-item .actions .delete {
  background-color: var(--danger);
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--grey);
}


@media (max-width: 680px) {
  .todo-item .actions button {
    padding: .15rem;
  }
}